data/*
.vscode/
**/__pycache__/
*.py[cod]
log/
pretrained_models/
data_mod/


!data/*combined*.txt
workdir
TAD/part_*.txt
gr_app.py
gradio_features.npy
output_segment.mp4
input_x.npy
data/train_combined.txt
mycode/

*.pt
data/__train_combined.txt
demo/ops
